{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
   <p>Egidio softwares<br>
  Entre em contato com Henrique.</p>
    Rua do zé, 666<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-15214
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@esoftwares.com">Suporte@esoftwares.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@esoftwares.com">Marketing@esoftwares.com</a>
</address>

{% endblock %}
